/*footer section*/
#footer {
  overflow: hidden;
  background: black;
  padding-top: 19px;
  display: block;
  width: 100%;
}

.footer-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.top-row-footer {
  height: auto;
  border-bottom: 2px solid #2e2e2e;
}

.top-row-footer-extra {
  height: auto;
  display: flex;
  width: 100%;
}
.frist-columna-download {
  flex-basis: 49.98%;
  max-width: 49.98%;
}
.frist-box{

}

.icono-paladins {
  width: 120px;
  height: 46px;
  display: inline-block;
  position: relative;
  top: auto;
  left: auto;
  color: blue;
}

.juego-con-la-beta {
  display: inline-block;
  font-family: "Open Sans",sans-serif,sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  left: auto;
  text-transform: uppercase;
  color: white;
  top: -10px;
  margin-left: 10px;
}
.second-columna-download {
  flex-basis: 49.98%;
  max-width: 49.98%;
  float: right;
}
.social-icons{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-size: 15px;
  line-height: 27px;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.social-youtube-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -64px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  margin-right: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
.social-twiter-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -96px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  margin-right: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

.social-reddit-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -160px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  margin-right: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
.social-pack-footer{
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  margin-right: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  background-image: none;
}


.social-pack-footer img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.third-row-footer {
  flex-basis: 74.97%;
  max-width: 74.97%;
  float: none;
  width: auto;
}
.footer-menu-wrapper {
  position: relative;
  }

#menu-footer {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 15px;
  line-height: 27px;
}
.main-menu-footer li {
  margin-right: 12px;
}
.link-menu-footer-1 {
  margin: 14px 0 0;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2d353f;
  padding-right: 4rem;
}

.sub-menu-footer-1 {
  font-size: 15px;
  line-height: 40px;
}
.sub-menu-footer-1-li .sub-menu-footer-2-li {
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.sub-menu-link {
  color: #286f9f;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 12px;
  display: initial;
  width: 100%;
  line-height: 40px;
}

/*end-footer*/
