.tablink {

  background-color: #17171c;
  color: #b2b2b2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border: 1px solid #000;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e323b;
    min-width: 160px;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 12px;
    z-index: 1;
    margin-top: 35px;
}
.dropdown-content button {
  background-color: #2e323b;
  color: #b2b2b2;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 7px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#menu {
  display: inline-block;
  width: 100%;
  background-color: #17171c;
  list-style: none;
}
#menu-center{
  padding-left: 20%;
  padding-right: 20%;

}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #2e323b;

}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
.tablink-left{
  float: left;

}
.tablink-right {
float: right;
}
