* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.tablink {
    background-color: #17171c;
    color: #b2b2b2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: 1px solid #000;
    text-transform: uppercase;

}
#menu {
  display: inline-block;
  width: 100%;
  background-color: #17171c;
}
#menu-center{
  padding-left: 20%;
  padding-right: 20%;

}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;

}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
.tablink-left{
  float: left;

}
.tablink-right {
float: right;
}