#all-page {
}

.big-img-container {
  position: relative;
  color: white;
  margin-left: 30;
  width: 44.555%;
  height: 200px;
}
.big-img {
  width: 280px;
  background-size: cover;
  border-radius: 15px;
  height: 200px;

}

.big-img-text {
  position: absolute;
  bottom: 50;
  left: 15;
  font-size: 8;
  font-style: italic;
}
.big-img-normal-text {
  position: absolute;
  bottom:10;
  left: 15;
  font-size: 15;
  display: block;
}
.img-2 {
  width: 266px;
  background-size: cover;
  border-radius: 15px;
  height: 180px;
  float: right;

}
.img-2-container {
    margin-top: -200;
  }
