/* CSS General */

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.center-wrapper {
  padding-left: 20%;
  padding-right: 20%;
}

/* Seccion Noticias */
#news {
  width: 100%
}

.latestnews-title {
  width: 100%;
  color: #989898;
  text-align: center;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;

}
.news-row {
  width: 100%;
  padding: 1%;
}

.big-img-container {
  float: left;
  color: white;
  position: relative;
  margin-right: 1.4%;
}

.big-img-text {
  position: absolute;
  font-size: 10;
  font-style: italic;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  bottom: 8%;
  padding-left: 5%;
}

.big-ima-text-news {
  font-size: 30px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  padding-top: 5%;
}

.big-img {
  border-radius: 10px;
  width: 505px;
  height: 400px;
}

.small-img.title {
  position: absolute;
}

.small-img-container {
  width: 23%;
  float: left;
  height: 400.555px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
  box-sizing: border-box;
  margin-right: 1%;
}

.small-img-category {
  color: #c2c2c2;
  text-decoration: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
}

.small-img-title {
  padding-left: 6%;
  padding-right: 6%;
  color: #017f8c;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3%;
}

.small-img-text {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 5%;
  color: #8a8a8a;
  font-family: Roboto, sans-serif;
}

.news-row-small-container {
  float: left;
  width: 100%;
  margin: 0 auto;
  margin-right: auto;
  padding: 1%;
}

.news-row-small {
  margin-top: auto;
}

/* Seccion fundadores */
.founder-wrapper-image {
  background-image: url('imagenes/founders-image.jpg');
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1086px;
  position: relative;
  width: 100%;
}

.founder-boxes {
  top: 100px;
  width: 50%;
  float: right;
  position: relative;
  background-color: rgba(0, 0, 0, .65);
  border-radius: 10px;
  display: block;
}


.founder-header {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 20px;

}

.founder-subheader {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  padding: 36px 0 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2.5px;
}

.founder-box {
  font-weight: 600;
  position: relative;
  z-index: 10;
  padding-left: 70px;
}

.founder-box p {
  color: #fff;
}

.founder-box p.header {
  background-color: #7b65b0;
  font-family: Oswald, sans-serif;
  font-style: italic;
  font-weight: 500;
  text-shadow: 2px 2px 0 #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top-left-radius: 8px;
  padding: 10px 10px 10px 20px;
}

.founder-box p.subheader {
  background-color: #665393;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 0 0 5px #000;
  letter-spacing: 0;
  border-bottom-left-radius: 8px;
  padding: 2px 130px 2px 20px;
  margin: 0 0 46px;
}

.founder-image-champions {
  width: 100%;
  max-width: 885px;
  position: absolute;
  top: 35px;
  left: -260px;
  z-index: 1;
}

.founder-image-champions img {
  width: 100%;
  margin-left: 350px;
}

.founders-champions-img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -64px;
}

.founders-exclusive-img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -30px;
}

.founders-chest-img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -22px;
}


#section-comunity {
  position: relative;
  padding: top: 2%;
}

.comunity-wrapper {
  background-image: url('imagenes/img-comunity-background.jpg');
  height: 558px;
  width: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comunity-center-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.text-header-main {
  font-weight: 700;
  font-style: italic;
  font-size: 55px;
  text-align: center;
  padding: 3.0rem;
  color: white;
  text-shadow: 0 2px 2px #000;
  padding-bottom: 0%;
  width: 100%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.text-header-second {
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 15px;
  text-shadow: 0 2px 2px #000;
  color: white;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.social-box {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  position: relative;
  top: 10rem;
  z-index: 1;
}


.social-box-frist-row {
  display: flex;
  top: 0;
}

.facebook {
  bottom: 2rem;
  display: flex;
  position: relative;
  top: -10rem;
}

.social-facebook {
  background-image: url(imagenes/facebook-head.jpg);
  background-repeat: no-repeat;
  height: 18.5rem;
  width: 22.3rem;
}

.social-twitch {
  background-image: url(imagenes/social-twitch.jpg);
  background-repeat: no-repeat;
  height: 18.5rem;
  width: 22rem;
}



/* Champion section */

#champion {
  display: block;
  background-image: url('imagenes/champion.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.champion-name {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}

#champion video {
  max-width: 100%;
}
