* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.section-title {
  width: 100%;
  text-align: center;
  color: #989898;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin-bottom: 2%;
}

.news-row {
  width: 100%;
  padding: 1%;
}

.big-img-container {
  float: left;
  color: white;
  position: relative;
  margin-right: 1.4%;
}

.big-img-text {
  position: absolute;
  font-size: 10;
  font-style: italic;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  bottom: 8%;
  padding-left: 5%;
}

.big-ima-text-news {
  font-size: 30px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  padding-top: 5%;
}

.big-img {
  border-radius: 10px;
  width: 505px;
  height: 400px;
}

.small-img.title {
  position: absolute;
}

.small-img-container {
  width: 23%;
  float: left;
  height: 400.555px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
  box-sizing: border-box;
  margin-right: 1%;
}

.small-img-category {
  color: #c2c2c2;
  text-decoration: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
}

.small-img-title {
  padding-left: 6%;
  padding-right: 6%;
  color: #017f8c;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3%;
}

.small-img-text {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 5%;
  color: #8a8a8a;
  font-family: Roboto, sans-serif;
}

.news-row-small-container {
  float: left;
  width: 100%;
  margin: 0 auto;
  margin-right: auto;
  padding: 1%;
}

.news-row-small {
  margin-top: auto;
}

.founder-wrapper-image {
  background-image: url('imagenes/founders-image.jpg');
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1086px;
  position: relative;
  width: 100%;
}

.founder-image-monsters {}

#news {
  width: 100%
}

#news-center {
  padding-left: 20%;
  padding-right: 20%;
}

.center-wrapper {
  padding-left: 20%;
  padding-right: 20%;
}

.foundersBox {
  top: 100px;
  width: 50%;
  float: right;
  position: relative;
}

.glass {
  background-color: rgba(0, 0, 0, .65);
  border-radius: 10px;
  display: block;
}

.founders-header {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
  padding-top: 20px;
  text-shadow: 0 0 10px #000;
  font-size: 36px;
  letter-spacing: 4px;
  font-style: italic;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

p.founders-subheader {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  padding: 36px 0 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2.5px;
}

.founders-box {
  position: relative;
  font-weight: 600;
  z-index: 10;
  padding-left: 70px;
}

.founders-box p {
  color: #fff;
}

.founders-box p.header {
  background-color: #7b65b0;
  border-top-left-radius: 8px;
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
  font-style: italic;
  text-shadow: 2px 2px 0 #000;
  font-family: Oswald, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
}

.founders-box p.subheader {
  background-color: #665393;
  margin: 0 0 4rem;
  border-bottom-left-radius: 8px;
  font-size: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 0 0 5px #000;
  padding: 2px 13rem 2px 20px;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 12px;
}

#section-comunity {
  position: relative;
  padding: top: 2%;
}

.comunity-wrapper {
  background-image: url('imagenes/img-comunity-background.jpg');
  height: 558px;
  width: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comunity-center-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.text-header-main {
  font-weight: 700;
  font-style: italic;
  font-size: 55px;
  text-align: center;
  padding: 3.0rem;
  color: white;
  text-shadow: 0 2px 2px #000;
  padding-bottom: 0%;
  width: 100%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.text-header-second {
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 15px;
  text-shadow: 0 2px 2px #000;
  color: white;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.social-box {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  position: relative;
  top: 10rem;
  z-index: 1;
}

.founders-image-monsters {
  position: absolute;
  top: 35px;
  left: -260px;
  width: 100%;
  max-width: 885px;
  z-index: 1;
}

.founders-image-monsters img {
  width: 100%;
  margin-left: 350px;
}

.two {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -4.9rem;
}

.one {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -64px;
}

.social-box-frist-row {
  display: flex;
  top: 0;
}

.facebook {
  bottom: 2rem;
  display: flex;
  position: relative;
  top: -10rem;
}

.social-facebook {
  background-image: url(imagenes/facebook-head.jpg);
  background-repeat: no-repeat;
  height: 18.5rem;
  width: 22.3rem;
}

.social-twitch {
  background-image: url(imagenes/social-twitch.jpg);
  background-repeat: no-repeat;
  height: 18.5rem;
  width: 22rem;
}

#download-wrapper {
  height: 100%;
  min-height: 636px;
}

.download-wrapper-text {
  color: #017f8c;
  width: 100%;
  font-family: Oswald,sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  padding: 5.5rem 0 0;
  margin-top: 52px;
  text-shadow: 1px 4px 0 #ccc;
  float: left;
}

.download-instrucciones {
  background: #f5f5f5;
  padding: 55px 45px;
  width: 100%;
  max-width: 510px;
  margin: 60px auto;
  border-radius: 12px;
}
.download-instrucciones-text {
  color: grey;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}





#footer{
overflow: hidden;
background: black;
padding-top: 19px;
display: block;
width: 100%;
}

.footer-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.top-row-footer {
  height: auto;
  border-bottom: 2px solid #2e2e2e;
}
.frist-columna-download {
  flex-basis: 49.98%;
  max-width: 49.98%;
}
.frist-box{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.top-row-footer-extra {
  height: auto;
  border-bottom: 2px solid #2e2e2e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.icono-paladins {
  width: 120px;
  height: 46px;
  display: inline-block;
  position: relative;
  top: auto;
  left: auto;
  color: blue;
}

.juego-con-la-beta {
  display: inline-block;
font-family: "Open Sans",sans-serif,sans-serif;
font-size: 15px;
font-weight: 600;
position: relative;
left: auto;
text-transform: uppercase;
color: white;
vertical-align: middle;
top: -10px;
margin-left: 10px;
}
.second-columna-download {
  flex-basis: 49.98%;
max-width: 49.98%;
float: right;
}
.social-icons{
  position: relative;
display: flex;
justify-content: flex-end;
margin: 0;
font-size: 1.5rem;
line-height: 2.7rem;
list-style: none;
}
.social-icons li {
display: inline-block;
margin-right: 10px;
width: 32px;
height: 32px;
}

.social-youtube-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -64px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
.social-twiter-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -96px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

.social-reddit-footer{
  background-image: url('imagenes/spritesheet-footer.png');
  background-position: -160px 0;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
.social-pack-footer{
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  background-image: none;
}


.social-pack-footer img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.third-row-footer {
  flex-basis: 74.97%;
  max-width: 74.97%;
  float: none;
width: auto;
}
.footer-menu-wrapper {
  position: relative;
left: auto;
top: auto;
}

#menu-footer {
  margin: 0;
padding: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
font-size: 1.5rem;
line-height: 2.7rem;
}
.main-menu-footer li {
  display: inline-block;
vertical-align: top;
margin-right: 1.2rem;
}
.link-menu-footer-1 {
  height: auto;
  margin: 1.4rem 0 0;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 2.4rem;
  text-transform: uppercase;
  pointer-events: none;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2d353f;
  padding-right: 4rem;
  white-space: nowrap;
}

.sub-menu-footer-1 {
  font-size: 1.5rem;
line-height: 2.7rem;
padding: auto;
}
.sub-menu-footer-1-li .sub-menu-footer-2-li {
  display: flex;
  width: 100%;
  margin: 5px 0;
  vertical-align: top;

}

.sub-menu-link {
  margin: 0;
color: #286f9f;
text-transform: capitalize;
pointer-events: auto;
font-weight: 400;
font-size: 12px;
display: initial;
border: none;
width: 100%;
line-height: 1.8rem;
white-space: normal;
padding: 0;
}

.last-footer {
  flex-basis: 24.99%;
  max-width: 24.99%;
  text-align: right;
}
.hirez-item {
  display: inline-block;
position: relative;
width: 160px;
height: 41px;
margin-top: 1.8rem;
background: url('imagenes/last-footer-img.png');
background-size: contain;
}

.four {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -30px;
}

/* Champion section */
#champion {
  display: block;
  background-image: url('imagenes/champion.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.champion-name {
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}
#champion video {
  max-width: 100%;
}
